
body {
   background-color: black;
   font-family: 'Press Start 2P', cursive;
   color: white;
   height: 100vh;
   margin: 0;
}

.flexCenter {
   display: flex;
   align-items: center;
   justify-content: center;
}

.descriptionText {
   font-size: 12px;
   text-transform: uppercase;
}

.scoreNumber {
   text-align: center;
   font-size: 22px;
}

.gameContainer{
   border: solid 3px white;
   width: 750px;
   height: 450px;
   position: relative;
}

.topRow {
   display: grid;
   grid-template-columns: 40px auto 40px;
   padding: 18px;
}

.verticalDivider {
   width: 50%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   border-right: dashed 4px white;
}

.gameOverOverlay {
   position: absolute;
   top: calc(50% - 50px);
   left: calc(50% - 130px);
   bottom: 50%;
   right: 50%;
   text-transform: uppercase;
   width: 260px;
   height: 100px;
   text-align: center;
   background: black;
   border: solid 2px white;
}

.gameOverText {
   padding: 14px;
   font-size: 12px;
}

button {
   color: white;
   background-color: black;
   border: solid 2px white;
   margin-top: 8px;
   padding: 8px;
   font-family: 'Press Start 2P', cursive;
   text-transform: uppercase;
   cursor: pointer;
}

.canvasWrapper {
   position: relative;
}
